.nav-bars{
    margin:0
}

nav ul li{
	display: block;
	padding: 2%;
}
nav ul:first-child{
	flex-basis:100%;
}
nav ul:first-child li{
    display:block; 
}
nav ul:first-child li:hover{
    background:none;
}
nav ul:last-child{
    flex-basis: 100%;
}
nav ul:last-child li{
    float:none;
    text-align: start;
}
nav ul:last-child li a{
    display: inline-block;
    width: 100%;
}
nav ul:last-child li a:hover{
    background-color: red;
}
.collapse-button{
    display:inline;
	float:right;
	font-size:150%;
}
nav ul:last-child{
    display:none;
}


/*  GET STARTED */
.get{
    margin:2%;
}
.get .get-started-container{
	border-radius: 25px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#get-started-btn{
   width:100%;
   padding:5%;
}

/*	GET STARTED DISPLAY ELEMENTS	*/
.definition{
    width:100%;
}
.con{
	display:grid;
	grid-template-columns:1fr;
}
.results{
    width:100%;
    margin: 0;
}

.error{
    width: 90%;,
}



.wrapping{
	margin-bottom:60%;
	z-index:0;
}



/***********************************************************************888/
DIV WITH BACKGROUND
*/
.div-with-background{
    margin:0px;
    height:400px;
    width:100%;

}
@media screen and (max-width:800){
	.div-with-background{
		margin-bottom:5%;
	}
}

.info{
	margin: 0px;
}

@media all and (max-width:5000px){
    #in{
        font-size:3%;
    }
}
